<configuration>
    <system.webServer>
		<httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                </customHeaders>
        </httpProtocol>
            <staticContent>
		      <remove fileExtension=".otf" /> <!-- In case IIS already has this mime type -->
		      <mimeMap fileExtension=".otf" mimeType="application/x-font-woff" />
		    </staticContent>   
            </system.webServer>
</configuration>
